.dropdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.arrow-down-icon {
  color: #5c5b5b;
  cursor: pointer;
  font-size: 20px;
}

.arrow-down-icon:hover {
  color: #a78bfa;
}

.dropdown-content {
  margin-top: 10px;
}
